
 .myButton {
	background-color:#5f635f;
	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #121214;
  
}
.myButton:hover {
	background-color:#2A2A3F;
    color:#ffffff;
    text-decoration:none;
	text-shadow:0px 0px 0px #121214;
}
.myButton:active {
	position:relative;
	top:1px;

}